{% extends 'base.html.twig' %}

{% block title %}New Fonctionnalites{% endblock %}

{% block body %}
    <h1>Create new Fonctionnalites</h1>

    {{ include('fonctionnalites/_form.html.twig') }}

    <a href="{{ path('app_fonctionnalites_index') }}">back to list</a>
{% endblock %}
